<div class="box box-warning">
    <div class="box-header with-border">
        <h3 class="box-title">Task</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        <form role="form">
            <!-- text input -->
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" placeholder="TaskName" ng-model="backlog.name">
            </div>
            <!-- textarea -->
            <div class="form-group">
                <label>Description</label>
                <textarea class="form-control" ng-model="backlog.description" rows="3"></textarea>
            </div>

            <div class="form-group" >
                <label>Estimate</label>
                <input type="text" ng-model="backlog.estimate" class="form-control" >Days
            </div>

            <!-- select -->
            <div class="form-group" >
                <label>Type</label>
                <select ng-model="backlog.type" class="form-control">
                    <option value="feature">Feature</option>
                    <option value="bug">Bug</option>
                </select>
            </div>
        </form>
    </div><!-- /.box-body -->
    <div class="box-footer">
        <button type="submit" class="btn btn-info pull-right" ng-click="save()">Save</button>
    </div>
</div>